<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
    <%= text_field_tag :'coupon_code', nil, id: 'coupon_code' %>
    <%= text_field_tag :'store', nil, id: 'store' %>
    <%= submit_tag "Submit Coupon" %>
<% end %>